@using CAPSquadron_Shared.Services.Attendance

@inject IAttendanceService attendanceService

<div class="container">
    <div class="row">
        <div class="col fs-3">Attendance</div>
    </div>
    <div class="row">
        <div class="col-6 border-bottom">
            Joined: <span class="fw-bold">@JoinDate!.Value.ToString("MMM yy")</span>
        </div>
        <div class="col-6 border-bottom text-end">
            Participation: <span class="fw-bold">@(Math.Round(OverallPercentage))%</span>
        </div>
    </div>

    @if (GroupedByMonth is not null)
    {
        @foreach (var group in GroupedByMonth)
        {
            var monthYear = new DateOnly(group.Key.Year, group.Key.Month, 1);
            <div class="row">
                <div class="col-2 text-end border-bottom border-end">@monthYear.ToString("MMM yy")</div>
                @foreach (var report in group.OrderBy(k => k.Key))
                {
                    <div class="col-2 border-bottom text-center @(@report.Value ? "bg-primary bg-gradient text-white" : "bg-transparent")">@report.Key.ToString("dd")</div>
                }
            </div>
        }
    }
</div>
