@if (Date1.HasValue)
{
    <span>@GetDateDisplay(Date1)</span>
}
else if (Date2.HasValue)
{
    <span>@GetDateDisplay(Date2)</span>
}
else if (TaskStatus)
{
    <span>N/A</span>
}
else if (!TaskStatus)
{
    <span>⛔</span>
}
