<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img src="images/sq144_logo.png" width="30" class="d-inline-block align-top" alt="San Diego Squadron 144" /> CAP Squadron 144</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse @NavMenuCssClass">
            <div class="navbar-nav">
                <div class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="call-down">
                        <span class="oi oi-moon" aria-hidden="true"></span> Call Downs
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="flights">
                        <span class="oi oi-people" aria-hidden="true"></span> Flights
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="download-reports">
                        <span class="oi oi-badge" aria-hidden="true"></span> Download Reports

                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="quality-unit">
                        <span class="oi oi-badge" aria-hidden="true"></span> Quality Cadet Unit
                    </NavLink>
                </div>
                
            </div>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
