@using CAPSquadron_Shared.Services;
@using CAPSquadron_Shared.Services.FileHandling

@inject IFileUploadService FileUploadService

<div class="file-upload-container">
    @if (!isUploadVisible)
    {
        <a class="icon-link" @onclick="ShowUpload">
            <span class="oi oi-pencil me-2" aria-hidden="true"></span> Update Data
        </a>
    }
    else
    {
        <div>
            <InputFile OnChange="HandleFileSelected" />
            @if (validationMessage is not null)
            {
                <p style="color: red;">@validationMessage</p>
            }
            <button class="btn btn-primary" @onclick="SubmitFile" disabled="@(selectedFile is null)">Upload</button>
            <button class="btn btn-secondary" @onclick="HideUpload">Cancel</button>
            @if (uploadMessage is not null)
            {
                <p style="color: @(uploadSuccess ? "green" : "red");">@uploadMessage</p>
            }
        </div>
    }
</div>
