@page "/member-attributes"
@namespace CAPSquadron_WebServer.Components

@if (Attributes != null)
{
    @foreach (var attribute in GetAttributesList())
    {
        <div class="badge px-2 fw-light font-monospace @GetBadgeClass(attribute.Value)">@(attribute.Key)</div>
    }
}
