@page "/attendees"
@using CAPSquadron_WebServer.Services
@using CAPSquadron_WebServer.Services.Attendance

@inject IAttendanceSignInService AttendanceService
<FileUpload CurrentContext="attendees" />

<h3>Attendees</h3>
@if (attendanceSignIns == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var signins in attendanceSignIns.OrderBy(d=>d.Name))
        {
            <li>@signins.Rank @signins.Name</li>
        }
    </ul>
}

@code {
    private IEnumerable<AttendanceSignIn>? attendanceSignIns;

    protected override async Task OnInitializedAsync()
    {
        attendanceSignIns = await AttendanceService.GetAttendanceSignInsAsync();
    }
}
