@page "/cadet-report/{capid:int}"
@using CAPSquadron_Shared.Services
@using CAPSquadron_Shared.Services.Flight
@using CAPSquadron_Shared.Services.CadetTracker
@using CAPSquadron_Shared.Services.Attendance
@using CAPSquadron_Shared.Services.MemberAttribute
@using CAPSquadron_WebServer.Components

@inject ICadetTrackerService CadetTrackerService
@inject IRetrieveDataService<Member> MemberService
@inject IMemberAttributeService MemberAttributeService
@inject IAttendanceService AttendanceService


<div class="container">
    @if (cadetTrackers is not null)
    {
        List<MemberAttributesDto?> mAttArr = [];
        if (memberAttribute is not null)
            mAttArr.Add(memberAttribute);
        <CadetTrackerComponent CadetTrackers="new [] { cadetTrackers }" MemberAttributes="mAttArr"></CadetTrackerComponent>
    }
</div>

@code {
    [Parameter]
    public int capid { get; set; }

    private MemberAttributesDto? memberAttribute;
    private PersonalCadetTrackerDto? cadetTrackers;

    protected override async Task OnInitializedAsync()
    {
        cadetTrackers = await CadetTrackerService.GetCadetTrackerByCapidAsync(capid);
        memberAttribute = await MemberAttributeService.GetMemberAttributesByCapIdAsync(capid);
    }
}
