@page "/"

<PageTitle>San Diego - Squadron 144</PageTitle>

<div class="container">
    <h1>Squadron 144 Reporting</h1>

    Welcome to Squadron 144's reporting site.

    <SurveyPrompt Title="Reports are for CAP members only" />
</div>
