@page "/members"
@using CAPSquadron_WebServer.Services
@inject IMemberService MemberService

<h3>Members</h3>
<FileUpload />
@if (memberCapIds == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var capId in memberCapIds)
        {
            <li>@capId</li>
        }
    </ul>
}

@code {
    private IEnumerable<int>? memberCapIds;

    protected override async Task OnInitializedAsync()
    {
        memberCapIds = await MemberService.GetUnassignedOrCommandersOrSergeantsAsync();
    }
}
