@page "/flights"
@using CAPSquadron_SPA.Services
@inject IFlightService FlightService
@inject NavigationManager Navigation

<h3>Flights</h3>

@if (flights == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var flight in flights)
        {
            <li @onclick="() => NavigateToFlight(flight.Id)">@flight.Name</li>
        }
    </ul>
}

@code {
    private IEnumerable<FlightDto>? flights;

    protected override async Task OnInitializedAsync()
    {
        flights = await FlightService.GetFlightsAsync();
    }

    private void NavigateToFlight(int flightId)
    {
        Navigation.NavigateTo($"/flights/{flightId}");
    }
}
