@page "/after-tango"

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Opportunities After Tango Flight</h2>

            <h3><strong>Exploring Beyond Tango Flight</strong></h3>

            <p>Upon graduating from Tango Flight, you embark on an exciting new phase in your Civil Air Patrol (CAP) journey. You will join another cadet flight within San Diego Cadet Squadron 144 and start exploring the diverse mission fields that CAP offers.</p>

            <h3><strong>Stay Informed with Upcoming Events</strong></h3>

            <p>For the latest dates and details on upcoming events, be sure to regularly visit our <a href="/calendar/all" target="_new">Upcoming Events</a> page. This resource is your go-to for staying updated on what&#39;s happening in and around our squadron.</p>

            <h3><strong>Broadening Your CAP Experience</strong></h3>

            <p>Apart from our weekly meetings, CAP provides a range of events and activities designed to enhance your skills and knowledge. Here&rsquo;s a list of opportunities you can look forward to participating in:</p>

            <h4><strong>Cadet Programs/Leadership:</strong></h4>

            <ul>
                <li>BCS (Basic Cadet School)</li>
                <li>ATS (Airman Training School)</li>
                <li>Encampment</li>
                <li>NCOS (Non-Commissioned Officers School)</li>
                <li>SNCOS (Senior NCOS)</li>
                <li>COBC/COS/RCLS (Cadet Officers Basic Course/Cadet Officers School/Regional Cadet Leadership School)</li>
            </ul>

            <h4><strong>Aerospace:</strong></h4>

            <ul>
                <li>AESA (Aerospace Education STEM Academy)</li>
                <li>Airshows</li>
                <li>O-Rides/Glider O-Rides</li>
            </ul>

            <h4><strong>Emergency Services:</strong></h4>

            <ul>
                <li>SARExs (Search and Rescue Exercises)</li>
                <li>Bivouacs</li>
                <li>NESA (National Emergency Services Academy)</li>
                <li>Hawk Mountain Ranger School</li>
                <li>PJOC/APJOC (Pararescue and Survival Orientation Course/Advanced Pararescue and Survival Orientation Course)</li>
            </ul>

            <h4><strong>Other Events:</strong></h4>

            <ul>
                <li>CPC (Cadet Programs Conference)</li>
                <li>Wing/Region/National Conference</li>
                <li>DCS/ADCS (Drill and Ceremonies School/Advanced Drill and Ceremonies School)</li>
                <li>UBWC (Ultimate Bear and Wing Challenge)</li>
                <li>CCC (Cadet Commanders Course)</li>
                <li>Cadet Competition</li>
                <li>Cyber Patriot</li>
                <li>Other NCSAs (National Cadet Special Activities)</li>
            </ul>

            <h3>Uniforms</h3>

            <p>Upon promotion, you&#39;ll be eligible to wear CAP uniforms:</p>

            <ul>
                <li><strong>Utilities Uniform:</strong> Airman Battle Uniform (ABUs)</li>
                <li><strong>Service Uniform:</strong> Blues Uniform</li>
                <li><strong>Physical Training Uniform:</strong> PT Uniform</li>
            </ul>

            <h4><strong>Acquiring Uniforms:</strong></h4>

            <ul>
                <li>Squadron 144 (for financially aided cadets or size/type exchanges)</li>
                <li>Surplus stores</li>
                <li>Air Force/military bases</li>
                <li><a href="https://www.vanguardmil.com/" target="_new">vanguardmil.com</a></li>
            </ul>

            <p>Refer to <a href="/members/sq144-cadet-guide/uniform-acquisition-information/">Uniform Acquisition Information</a> and the CAP Curry Order Form&nbsp;for a complete list of uniform items and links.</p>

            <h3>Helpful Resources</h3>

            <h5><strong>Forms for Events:</strong></h5>

            <ul>
                <li><a href="https://www.gocivilairpatrol.com/media/cms/F_060_081_Application_for_Encampmen_158312DE11C37.pdf">CAPF 60-81: Application for CAP Encampment or Special Activity</a></li>
                <li><a href="https://www.gocivilairpatrol.com/media/cms/CAPF_160_C86E6E8C7C7C2.pdf">CAPF 160: Emergency Contact Information</a></li>
                <li><a href="https://www.gocivilairpatrol.com/media/cms/CAPF_161_85EF3513715A0.pdf">CAPF 161: Release Agreement</a></li>
                <li><a href="https://www.gocivilairpatrol.com/media/cms/F163_7154E3E39FAFE.pdf">CAPF 163: Medical Information</a></li>
            </ul>

            <h5><strong>Helpful Links:</strong></h5>

            <ul>
                <li><a href="https://www.gocivilairpatrol.com/" target="_new">Civil Air Patrol Website</a></li>
                <li><a href="https://www.capnhq.gov/CAP.eServices.Web/Default.aspx" target="_new">eServices</a></li>
                <li><a href="https://cawg.cap.gov/" target="_new">CAWG Website</a></li>
                <li><a href="http://cawgcadets.org/wp/" target="_new">CAWG Cadet Programs</a></li>
                <li><a href="https://outlook.office.com/mail/" target="_new">Office 365 CAWGCAP</a></li>
                <li><a href="https://www.gocivilairpatrol.com/media/cms/R_391_with_ICL_2101_Incorporated_5660EEB90E0DB.pdf" target="_new">CAPM 39-1 (Uniform Manual)</a></li>
                <li><a href="https://www.gocivilairpatrol.com/media/cms/P_6033_2217FEEE8C89F.pdf" target="_new">CAPP 60-33 (The Drill Pamphlet)</a></li>
                <li><a href="https://www.gocivilairpatrol.com/media/cms/CAPP_6034_Nov_19_Full_5F144B289BC03.pdf" target="_new">CAPP 60-34 (Drill and Ceremonies Practical Tests)</a></li>
                <li><a href="https://www.gocivilairpatrol.com/media/cms/Vol1LetterLowFinal_FDCFE2AA96703.pdf" target="_new">Learn to Lead Vol.1</a></li>
                <li><a href="https://www.gocivilairpatrol.com/media/cms/Vol2LetterLowFinal_8BDFDB373E830.pdf" target="_new">Learn to Lead Vol.2</a></li>
                <li><a href="http://www.mcchord.org/rack_builder/check_cdt.html">McChord Rack Builder</a></li>

                <li>
                    Resources:
                    <ol>
                        <li><a href="https://www.gocivilairpatrol.com/media/cms/VA_60100_Full_Size_2F3FCD143C159.pdf">Cadet Super Chart</a></li>
                        <li><a href="https://www.gocivilairpatrol.com/media/cms/Letter_Size_Tracker_15_Nov_0F824FF89B180.pdf">Personal Cadet Tracker</a></li>
                        <li><a href="/members/sq144-cadet-guide/uniform-acquisition-information/">Uniform Acquisition Information</a></li>
                        <li><a href="/members/sq144-cadet-guide/how-to-properly-shine-your-combat-boots/">How to Properly Shine Your Combat Boots&nbsp;</a></li>
                        <li><a href="/members/sq144-cadet-guide/uniform-regulations-overview/">Uniform Regulations Overview</a></li>
                        <li><a href="/members/sq144-cadet-guide/cadet-guide-memory-work/">Memory Work</a></li>
                        <li><a href="/members/sq144-cadet-guide/curry-achievement-buying-guide/">Curry Achievement - Buying Guide</a></li>
                    </ol>
                </li>
            </ul>
        </div>
    </div>
</div>
